body {
            background-color: lightgoldenrodyellow;
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 90%;
            max-width: 1200px;
            margin: auto;
            padding: 20px;
        }
        h1 {
            color: darkred;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        ul li {
            margin-bottom: 10px;
        }
        
        .google-maps-link {
            display: block;
            margin: 20px 0;
            text-align: center;
        }